html,
body{
width:100%;
overflow-x:hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background: #70b3b8;
  color: #fff;
  text-align: center;
}
main {
  background: #ffffff;
  min-height: 80vh;
  flex-grow: 1;
}

.controls {
  text-align: center;
  padding: 0.5em 0;
  background: #102f5b;
}

.controls {
  color: #fff;
}
.controls p {
  margin: 0;
}
.controls > div {
  margin-bottom: 0.5em;
}
.controls > div:last-child {
  margin-bottom: 0;
}

video {
  width: 90%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

footer {
  background: #102f5b;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}

.container button {
  width: 280px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.container > button {
  background: #70b3b8;
  color: white;
}

.container a button {
  background: #102f5b;
  color: white;
}

#button, #select {
    width: 170px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    background: #f9feff;
}

#interactive.viewport {position: relative; width: 100%; height: auto; overflow: hidden; text-align: center;}
	#interactive.viewport > canvas, #interactive.viewport > video {max-width: 100%;width: 100%;}
	canvas.drawing, canvas.drawingBuffer {position: absolute; left: 0; top: 0;}